*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
}

/* POSITION СНАЧАЛА, ПОТОМ ГЕОМЕТРИЯ, ПОТОМ ВСЕ ОСТАЛЬНОЕ!! */
/* user-select: none; */
/* UL паддинг и марджин в ноль, list style none */
/* ссылке-Блоку можно задать паддинг! */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--white-color: #ffffff;
	--button-bcg: #f5f4fa;
	--footer-color: #2f303a;
	--header-stroke: #ececec;
	--folio-border: #eeeeee;
	--icon-color: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	background-color: var(--white-color);
	color: var(--primary-text-color);

	font-family: roboto, sans-serif;
	letter-spacing: 0.03em;
}

/* Утилиты, это сброс маркеров для всех списков вообще */
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

/* можно через классы .list задавать тот же сброс точек */
.is-none {
	display: none;
}

/* запрет на ресайз поля для комментов */
textarea {
	resize: none;
}

/* SPECIAL CONTAINERS */

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	/* outline: 2px solid tomato; */
}

/* PAGE HEADER */

.page-header {
	display: flex;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	height: 79px;
	/* background-color: wheat; */
	/* padding-top: 24px;
	padding-bottom: 24px; */

	border-bottom: 1px solid var(--header-stroke);
}

/* LOGO */

.logo {
	/* display: inline-block; */
	/* Костыль, так как логотип нижу ссылок странице даже на дизайнерском макете */
	/* padding-bottom: 7px; */

	font-family: "Raleway", sans-serif;
	color: var(--accent-color);

	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	/* outline: 1px solid tomato; */
}

.logo.header {
	color: var(--title-text-color);
	font-size: 26px;
}

.logo-footer {
	color: var(--white-color);
}

/* SITE NAV!!!*/

.nav-container {
	display: flex;
	align-items: center;

	max-height: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;

	/* outline: 2px solid tomato; */
}

.nav-container .item + .item {
	margin-left: 50px;
}

.navbar {
	/* margin-bottom: 30px; */
	display: flex;
	align-items: center;
}

.site-nav {
	display: flex;
	/* outline: 1px solid tomato; */
	margin-left: 93px;
}

/* Олд Скул метод исключения элементов, все последующие item применяется действие, если они стоят перед первым item, к нему действие не применяется, перед ним никого нет */

/* В данном случае работает на всех списки, в каждом списке исключается первый элемент - круто! */

/* Переношу это в главный нав-контейнер */

/* .nav-container .item + .item {
	margin-left: 50px;
} */

/* Современный вариант исключения элементов
 */
/* .site-nav .item:not(:last-child) {
	outline: 1px solid tomato;
	margin-right: 50px;
} */

.site-nav .link {
	position: relative;

	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current::after {
	content: "";

	position: absolute;
	left: 0;
	bottom: 0;

	display: block;

	width: 100%;
	height: 5px;
	border-radius: 2px;

	background-color: var(--accent-color);

	/* transition: opacity 250ms var(--timing-function);
opacity: 0; */
}

/* .site-nav .link:hover::after{
opacity: 1;

} */

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* CONTACTS !!!!!!!!!*/

.contacts-container {
	display: flex;
	align-items: center;

	height: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
}

.contacts-nav {
	display: flex;
	margin-left: auto;
}

.contacts-nav .item {
	display: block;
}

.contacts-nav.list .link {
	display: flex;
	/* align-items: center; */

	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-text-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav.list .link .team-icon {
	/* display: inline-flex; */
	/* align-self: flex-end; */
	/* justify-content: flex-end; */
	margin-right: 10px;

	/* не работает(((( */
	/* transition: --color4 500ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.contacts-nav.list .item:nth-child(2) .team-icon {
	margin-right: 5px;
}

.contacts-nav.list .item + .item {
	margin-left: 30px;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
	color: var(--accent-color);
	/* --color4: var(--accent-color); */
}

/* HERO css */

.hero {
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	max-width: 1600px;
	height: 600px;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background.jpg);
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-position: center;
	background-color: var(--footer-color);
}

.hero-title {
	margin-top: 0px;
	padding-top: 200px;
	margin-bottom: 30px;
	/* outline: 1px solid tomato; */

	color: var(--white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.btn {
	display: inline-block;
	padding: 10px 32px;
	border-radius: 4px;
	min-width: 204px;
	border: 4px solid transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	color: var(--white-color);
	background-color: var(--accent-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-decoration: none;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

	/* cursor: pointer; */
}

.btn:hover,
.btn:focus {
	border: 4px solid white;
}

/* FEATURES НАШИ ПРЕИМУЩЕСТВА */

.container.icons {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	height: 251px;
	margin-bottom: 94px;
	/* outline: 2px solid tomato; */
}

.feature-list {
	margin-top: 0px;
	margin-bottom: 244px;

	display: flex;
}

.feature-list .item {
	width: 270px;
	height: 101px;
}

/* Репета рекомендует лучше давать доп класс в хтмл,
и оттуда назначать каждую иконку .feature-list не пишем,
а упоминаем .icon-radar  */

.feature-list .item::before {
	display: block;
	content: "";
	height: 120px;
	margin-bottom: 30px;
	background-color: var(--button-bcg);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
}
.feature-list .item:nth-child(1)::before {
	background-image: url(../images/feature1.svg);
}

.feature-list .item:nth-child(2)::before {
	background-image: url(../images/feature2.svg);
}
.feature-list .item:nth-child(3)::before {
	background-image: url(../images/feature3.svg);
}
.feature-list .item:nth-child(4)::before {
	background-image: url(../images/feature4.svg);
}

.feature-list .item + .item {
	margin-left: 30px;
}

/* .feature-list p {
	max-width: 270px;
	min-height: 101px;
} */

.feature-list .title {
	margin-top: 0px;
	margin-bottom: 10px;

	color: var(--title-text-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-list p {
	margin-top: 0px;
	margin-bottom: 0px;

	font-size: 14px;
	line-height: 1.71;
}

/* WHAT WE DO СЕКЦИЯ ЧЕМ ЗАНИМАЕМСЯ!! and Team Headers*/

.section-title {
	margin-top: 0px;
	margin-bottom: 50px;

	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.images-wedo {
	display: flex;
}

.images-wedo .item + .item {
	margin-left: 30px;
}

.images-wedo img {
	display: block;
}

.images-wedo .thumb {
	position: relative;
}

.images-wedo .thumb::before {
	position: absolute;
	bottom: 0px;

	/* opacity: 0; */

	/* display: inline-block; */

	content: "";
	width: 370px;
	height: 70px;

	background-color: rgba(47, 48, 58, 0.8);
}

.images-wedo .title {
	position: absolute;
	bottom: 27px;

	/*   */
	pointer-events: none;

	/* opacity: 0; */

	/* padding: 27px; */
	margin: 0px;
	/* align-items: center; */
	/* justify-content: center; */

	color: #ffffff;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	width: 370px;
}

/* .thumb:hover .title,
.thumb:hover::before {
	opacity: 1;
} */

/* .images-wedo .item {
	position: relative;
} */

/* .images-wedo .item::before {
	position: absolute;
	bottom: 0px;

	display: inline-block;

	content: "";
	width: 370px;
	height: 70px;

	background-color: tomato;
} */

/* TEAM PHOTOS AND LINKS!!!*/

.section.team {
	background-color: var(--button-bcg);
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.team-members > .item {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	background-color: #fff;
	height: 428px;
	/* outline: 1px solid tomato; */
	text-align: center;
}

.team-members > .item + .item {
	margin-left: 30px;
}

/* .wedo {
	padding-top: 0px;
} */

/* .team-list img {
	margin-bottom: 30px;
} */

.team-members .title {
	padding-top: 30px;
	margin-top: 0px;
	margin-bottom: 10px;

	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	/* outline: 1px solid tomato; */
}

.team-members .text {
	margin-top: 0px;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.19;
	/* outline: 1px solid tomato; */
}

.team-members {
	display: flex;
}

.team-list.links {
	display: inline-flex;
	/* padding: 0px;
	margin: 0px; */
	/* outline: 1px solid black; */
	/* justify-content: center; */
}

/* надо поставить дисплей блок??? */

.team-list .link {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0px;

	width: 44px;
	height: 44px;
	color: #afb1b8;
	/* background-color: yellow; */
	border-radius: 50%;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	/* а еще делают так, для разных элементов, да и Репета так делал просто даже
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.team-icon {
	/* width: 20px;
	height: 20px; */
	fill: currentColor;
}

.team-list .link:hover {
	color: white;
	background-color: var(--accent-color);
}

.team-list .item + .item {
	margin-left: 10px;
}

/* OUR CLIENTS*/

.clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-list {
	display: flex;
	justify-content: space-between;
}

/* .clients-list .item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 90px;

	border: 1px solid #afb1b8;
	border-radius: 4px;
} */

.clients-list .link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 90px;

	color: var(--icon-color);

	border: 1px solid #afb1b8;
	border-radius: 4px;

	/* padding: 20px 63px; */
	/* color: var(--accent-color); */

	/* width: 63px; */
	/* width: 170px;
  height: 90px; */

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .team-icon {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .clients-list .item:hover,
.clients-list .item:focus {
	border: 1px solid var(--accent-color);
} */

.clients-list .link:hover,
.clients-list .link:focus {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

/* Buttons Filters */

.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.buttons .button + .button {
	margin-left: 8px;
}

.buttons button {
	padding: 6px 22px;
	border-radius: 4px;
	border: 0px solid transparent;

	min-width: 73px;
	height: 38px;

	background-color: var(--button-bcg);
	color: var(--title-text-color);

	font-style: 400px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;

	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons button:hover,
.buttons button:focus {
	color: var(--white-color);
	background-color: var(--accent-color);
}

/* если несколько кнопок то в главном селекторе выстраивается шрифты и рамки и так далее, а во второстепенных .button.primary .button.secondary - выстраиваются отличающиеся цвета */

/* Portfolio */

.portfolio-list img {
	display: block;
}

.portfolio-list {
	display: flex;
	/* background-color: teal; */
	flex-wrap: wrap;
	/* max-width: 1200px; */

	margin: -15px;
	/* outline: 1px solid tomato; */

	/* рагульный вариант */
	/* justify-content: space-between; */
}

/* calc (100% - кол-во марджинов в строке * значение марджина / количество элементов в строке) */
.portfolio-links {
	/* border: 1px solid tomato; */
	/* моднявая тема */
	/* width: calc((100% - 2 * 30px) / 3); */
	/* еще предлагали вставлять flex-basis вместо width */

	/* при моднявом методе надо задать: */
	/* margin-right: 30px; */
	/* margin-bottom: 30px; */

	margin: 15px;

	/* border: 1px solid var(--folio-border); */

	/* это для второго варианта работы с флексом, моднявого */

	width: 370px;
	max-height: 404px;
	/* background-color: tomato; */

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
	padding: 20px 24px;
	border: 1px solid var(--folio-border);
	border-top: 0px;
}

.portfolio-links .thumb {
	display: flex;
	/* justify-content: center;
	align-items: center; */

	position: relative;

	overflow: hidden;
}

.portfolio-links .thumb::before {
	position: absolute;

	top: 0px;
	left: 0px;

	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

	transform: translateY(100%);
}

.portfolio-links .text {
	position: absolute;

	color: var(--white-color);

	padding: 63px 24px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 400px;
	font-size: 18px;
	line-height: 1.56;

	transform: translateY(100%);
	opacity: 0;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links:hover,
.portfolio-links:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-links .thumb:hover::before,
.portfolio-links .thumb:hover .text {
	transform: translateY(0px);
	opacity: 1;
}

/* Альтернатива, Вариация работы с оформлением флекса */
/* первый вариант */
/* .portfolio-links:not(:nth-child(3n)) {
	margin-right: 30px;
}

.portfolio-links:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
} */

/* второй вариант */
/* .portfolio-links:nth-child(3n) {
	margin-right: 0px;
}

.portfolio-links:nth-last-child(-n + 3) {
	margin-bottom: 0px;
} */

.portfolio-links .title {
	/* ATTENTION */
	/* padding-left: 24px;
	padding-right: 24px; */
	margin-top: 0px;
	margin-bottom: 4px;
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-links p {
	margin-top: 0px;
	margin-bottom: 0px;

	/* ATTENTION */
	/* padding-left: 24px;
	padding-right: 24px; */
}

.portfolio-links a {
	color: var(--primary-text-color);

	font-size: 16px;
	line-height: 1.87;
	text-decoration: none;
}

/* ---------МОДАЛКА ВСПЛЫВАЮЩАЯ!!!!------------ */

.backdrop {
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.9);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	width: 528px;
	min-height: 581px;
	padding: 15px;

	background-color: white;

	transition: transform 250ms var(--timing-function);
}

/*       -------АНКЕТА В МОДАЛКЕ!!!!------------ */

.modal {
	position: relative;
}

.modal .title {
	/* font-family: Roboto; */
	/* font-style: normal; */
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	/* letter-spacing: 0.03em; */
	color: var(--title-text-color);
}

.form {
	/* position: relative; */

	width: 448px;
	/* height: 581px; */
	outline: 1px solid tomato;
	margin-left: auto;
	margin-right: auto;
	/* padding: 40px; */
}

.form label {
	/* font-family: Roboto; */
	/* font-style: normal; */
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	/* identical to box height */

	letter-spacing: 0.01em;
}

.form-field {
	display: flex;
	flex-direction: column;

	outline: 1px solid blue;
	margin-bottom: 10px;

	/* height: 58px; */
}

.form-field.checkbox {
	/* display: flex; */
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.form-text {
	display: inline-block;
}

/* .form-field:nth-child(1)::before {
	display: block;
	content: "";
	width: 20px;
	height: 20px;
	background-color: red;
} */

.form-field label {
	margin-bottom: 4px;
}

.form-field input {
	/* Вариант переноса на другую строку! */
	/* width: 100%; */
	/* position: relative; */

	height: 40px;
	margin: 0px;
	padding: 12px 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.16;
	letter-spacing: 0.01em;
}

.input-field {
	position: relative;
	display: flex;
	align-items: center;
}

.input-field .icon-form {
	position: absolute;
	margin-left: 12px;
	margin-top: 11px;
	margin-bottom: 11px;
}

.input-field .input-icon {
	width: 448px;
	height: 40px;
}

.comment {
	padding: 12px 16px;

	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
}

.form-field textarea::placeholder {
	/* font-family: Roboto; */
	/* font-style: normal; */
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.form-field .label-checkbox {
	/* font-family: Roboto; */
	/* font-style: normal; */
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;

	letter-spacing: 0.03em;
}

.form-field .link-checkbox {
	/* text-decoration: none; */
	color: var(--accent-color);
}

.form .button-submit {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 50px;
	padding: 10px 55px;
	color: var(--white-color);
	background-color: var(--accent-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 1px solid transparent;
	border-radius: 4px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	letter-spacing: 0.06em;
	/* text-transform: uppercase; */
}

.form .button-submit:hover {
	border: 2px solid var(--primary-text-color);
}

.button-close {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;

	/* background-color: yellow; */
	background-color: var(--white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
	fill: var(--accent-color);
}

/* плохо рисуется браузерами, стили не работают, будем делать кастомные */
/* height: 40px;
	width: 40px; */

.topic-options,
.experience-options {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.topic-options label {
	font-size: 20px;
	margin-left: 10px;
}

.topic-options li {
	display: flex;
	align-items: center;
}

.group {
	margin-bottom: 20px;
}

.form .date {
	border-width: 5px;
	border-radius: 4px;
	border-color: red;
	font-size: 30px;
	color: green;
}

/* FOOTER */

.footbar {
	/* display: flex; */
	margin-left: auto;
	margin-right: auto;

	/* width: 1200px; */

	background-color: var(--footer-color);
}

.wrapper {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
	/* outline: 2px solid tomato; */
}

.container-footer {
	min-width: 231px;
	margin-left: 0px;
	margin-right: 70px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footbar .logo-footer {
	display: inline-block;
	margin-bottom: 20px;
}

.address .link-footer,
.location {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 9px;
}

.address .location {
	color: #ffffff;

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}

.address .title {
	color: rgba(255, 255, 255, 0.6);

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .title:hover,
.address .title:focus {
	color: var(--accent-color);
}

/* FOOTER JOIN US */

.container-footer.join-us {
	display: inline-block;
	padding-top: 72px;
	padding-bottom: 100px;
	padding-left: 0px;
	padding-right: 0px;
	/* width: 240px; */
	height: 80px;
}

.title-footer {
	margin-top: 0px;
	margin-bottom: 20px;
	color: var(--white-color);
	text-transform: uppercase;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

/* .list-footer.links {
	display: inline-flex;
	border: 1px solid black;
} */

.list-footer .item {
	display: inline-flex;
	/* border: 1px solid black; */
}

.list-footer .item .link {
	height: 44px;
	width: 44px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	/* background-color: tomato; */
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-footer .item:nth-child(1) .link {
	background-image: url(../images/footerlink1.svg);
}
.list-footer .item:nth-child(2) .link {
	background-image: url(../images/footerlink2.svg);
}
.list-footer .item:nth-child(3) .link {
	background-image: url(../images/footerlink3.svg);
}

.list-footer .item:nth-child(4) .link {
	background-image: url(../images/footerlink4.svg);
}
.list-footer .link:hover,
.list-footer .link:focus {
	/* border-radius: 50%; */
	background-color: var(--accent-color);
}

.list-footer .item + .item {
	margin-left: 10px;
}

/* FOOTER SUBSCRIBE!!! */

.container-subscribe {
	/* display: inline-block; */

	width: 570px;
	height: 80px;

	padding-top: 72px;
	padding-bottom: 100px;
	padding-left: 0px;
	padding-right: 0px;
	/* width: 240px; */
}

.form-subscribe {
	display: flex;
	align-items: center;
}

.form-subscribe .email {
	width: 358px;
	height: 50px;

	margin-right: 12px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	background-color: var(--footer-color);
}

.form-subscribe .button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	height: 50px;
	padding: 10px 28px;
	color: var(--white-color);
	background-color: var(--accent-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 1px solid transparent;
	border-radius: 4px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	letter-spacing: 0.06em;
}

.form-subscribe .button:hover {
	border: 1px solid var(--white-color);
}

.icon-footer {
	margin-left: 10px;
}

/* Experiments */
